@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Pacifico&family=Quicksand:wght@300;500&family=Vast+Shadow&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main: #254252;
    --second: #171c2d;
    --third: #e37239;
    --forth: #f9982f;
    --fifth: #eab56f;
    --sixth: #ffffff;
    --seven: #46C3DB;
}

/* Button learn more */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: var(--second);
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--second);
    border-bottom-color: var(--second);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: var(--seven);
    color: var(--second);
}

nav .nv1 .name h3 {
    color: var(--seven);
}

nav ul {
    height: 10vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li {
    list-style: none;
    padding: 0vh 2.5vw;
}

nav ul li .nan {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.nan {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.nan::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--third);
    transition: width 0.5s ease;
}

.nan:hover::before {
    width: 100%;
}

nav .nv1 .logo img {
    padding: 2px 2px;
    width: 9vw;
    height: 8vh;
}

nav .nv1 {
    background-color: var(--main);
    border-radius: 0px 0px 0px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
}

nav .nv1 .name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

nav .nv1 .name h3 {
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

nav .nv2 {
    border-radius: 0px 0px 50px 0px;
    background-color: var(--main);
    width: 89vw;
}

.container {
    display: flex;
    background-color: var(--main);
    width: 100%;
    height: 90vh;
}

.container .con1 {
    background-color: var(--seven);
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 50px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    height: 90vh;
    width: 100%;
}

.container .con1 .learn a {
    text-decoration: none;
}

.container .con1 .hdl h3 {
    font-size: 7rem;
}

.container .con2 {
    background-color: var(--seven);
    border-radius: 0px 0px 50px 0px;
    height: 90vh;
    width: 50vw;
}

.pgf {
    padding: 40px 0px 0px 40px;
}

.container2 {
    display: flex;
    height: 100vh;
    width: 100%;
    width: 99vw;
    background-color: var(--main);
}

.container2 #con3 {
    width: 99vw;
    height: 100vh;
    background-color: #254252;
    border-radius: 0px 0px 50px 50px;
}

.container3 {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--seven);
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}




*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

#icon {
    width: 5vw;
    height: 8vh
}

.mrindia {
    display: none;
}


@media only screen and (max-width:800px) {


    nav {
        display: block;
        height: 318px;
        width: 100%;
        background-color: var(--seven);
        color: var(--second);


    }

    .mraa {
        display: none;
    }

    .mrindia {
        display: block;
    }

    .chobad {
        height: 8%;

    }


    nav .nv1 {
        background-color: var(--main);
        border-radius: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    nav .nv2 {
        background-color: var(--main);
        width: 100%;
        height: 75%;
        border-radius: 0;
    }

    nav ul {
        height: 23vh;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        letter-spacing: 5px;
        margin: 1px;
    }

    .pgf {
        padding: 40px;
    }

    .container .con1 .hdl h3 {
        font-size: 4rem;
    }




    label .menu {
        position: absolute;
        right: -55px;
        top: -108px;
        z-index: 100;
        width: 151px;
        height: 148px;
        background: #254252;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #254252, 0 0 0 0 #254252;
        cursor: pointer;
    }



    label .hamburger {
        position: absolute;
        top: 135px;
        left: 50px;
        width: 30px;
        height: 2px;
        background: #69D2e7;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #69d2e7;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 0 0 0 100vw #254252, 0 0 0 100vh #254252;
        border-radius: 0;

    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;

    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;

    }

    label input:checked+.menu+ul {
        opacity: 1;
    }

    label ul {
        z-index: 200;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        -webkit-transition: .25s 0s ease-in-out;
        transition: .25s 0s ease-in-out;
    }

    label a {
        margin-bottom: 1em;
        display: block;
        color: #f38630;
        text-decoration: none;

    }


    nav ul li {
        list-style: none;

        font-size: 25px;
        padding: 4px 0px 0px 0px;
    }

    #icon {
        width: 5vw;
        height: 8vh
    }

    .container {
        display: flex;
        background-color: var(--main);
        width: 100%;
        height: 664px;
        flex-direction: column-reverse;
    }

    .container .con2 {
        display: none;
    }

    .container .con1 {
        background-color: var(--seven);
        display: flex;
        align-items: center;
        border-radius: 0px 0px 50px 50px;
        justify-content: center;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
        height: 97vh;
        width: 100%;
    }

    .container2 {
        width: 100%;
        padding: 0;
    }

    .container3 {
        width: 100%;
    }
}

