@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Pacifico&family=Quicksand:wght@300;500&family=Vast+Shadow&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main: #254252;
    --second: #171c2d;
    --third: #e37239;
    --forth: #f9982f;
    --fifth: #eab56f;
    --sixth: #ffffff;
    --seven: #46C3DB;
}
body {
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: var(--seven);
    color: var(--second);
}

nav .nv1 .name h3 {
    color: var(--seven);
}

nav ul {
    height: 10vh;  /*  height must be same as header height.. then align-items: center will work */
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li {
    list-style: none;
    padding: 0vh 2.5vw;
}

nav ul li .nan {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.nan {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.nan::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--third);
    transition: width 0.5s ease;
}

.nan:hover::before {
    width: 100%;
}

nav .nv1 .logo img {
    padding: 2px 2px;
    width: 9vw;
    height: 8vh;
}

nav .nv1 {
    background-color: var(--main);
    border-radius: 0px 0px 0px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
}

nav .nv1 .name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

nav .nv1 .name h3 {
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

nav .nv2 {
    border-radius: 0px 0px 50px 0px;
    background-color: var(--main);
    width: 89vw; 
}

.container {
    display: flex;
    background-color:  var(--main);
    width: 100%;
    height: 90vh;
}

.container .con1 {
    background-color: var(--seven);
    display: flex;
    align-items: center;
    border-radius: 0px 0px 0px 50px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    padding-left: 4vh;
    height: 90vh;
    width: 50vw;
}

.container .con1 .hdl h3{
    font-size: 7rem;
}

.container .con2{
    background-color: var(--seven);
    border-radius: 0px 0px 50px 0px;
    height: 90vh;
    width: 50vw;
}

.container2{
    display: flex;
    height: 100vh;
    width: 99vw;
    background-color:var(--seven);
}

.container2 #con3{
    width: 99vw;
    height: 100vh;
    background-color: #254252;
    border-radius: 0px 0px 50px 50px;
}
.container3{
    display: flex;
    height: 100vh;
    width: 99vw;
    background-color:var(--seven);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
}

.about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
}

body{
font:16px/1.6 Arial,  sans-serif;
}

/* The footer is fixed to the bottom of the page */

footer{
position: fixed;
bottom: 0;
}

@media (max-height:800px){
footer { position: static; }
header { padding-top:40px; }
}


.footer-distributed{
background-color: #2c292f;
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 50px 50px 60px 50px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 30%;
}

.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Cookie', cursive;
margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
width: 30%;
}

.footer-distributed h3 span{
color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
color:  #ffffff;
margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}


.footer-distributed .footer-center i{
background-color: #254252;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p{
display: inline-block;
color: #ffffff;
vertical-align: middle;
margin:0;
}

.footer-distributed .footer-center p span{
display:block;
font-weight: normal;
font-size:14px;
line-height:2;
}

.footer-distributed .footer-center p a{
color:  #e0ac1c;
text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
width: 30%;
}

.footer-distributed .footer-company-about{
line-height: 20px;
color:  #92999f;
font-size: 13px;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span{
display: block;
color:  #ffffff;
font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
}

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 20px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100vw;
    margin-bottom: 40px;
    text-align: center;
}

.footer-distributed .footer-center i{
    margin-left: 0;
}
}