@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Vast+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color:#A5DEF1;
    color: rgb(0, 0, 0);
}

nav ul{
    height: 9vh;          /*  height must be same as header height.. then align-items: center will work */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0vh 2.5vw;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-family: 'Vast Shadow', cursive;
    text-decoration: none;
}

nav .nv1{
    background-color: rgb(255, 255, 255);
    width: 41vw;
    margin: 2px;
    padding: 2px;
}

nav .nv2{

    margin: 2px;
    padding: 2px;
    width: 52vw;
}