@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Pacifico&family=Quicksand:wght@300;500&family=Vast+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color: #fdf7eb;
    color: rgb(0, 0, 0);
}

nav ul{
    height: 10vh;          /*  height must be same as header height.. then align-items: center will work */
    display: flex;
    justify-content:center;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0vh 2.5vw;
}

nav ul li a{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
nav .nv1 .logo img{
    padding: 2px 2px;
    width: 9vw;
    height: 8vh;
}

nav .nv1{
    background-color: #e37b58;
    border-radius: 0px 0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}
nav .nv1 .name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
}

nav .nv1 .name h3{
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

nav .nv2{
    border-radius: 0px 0px 50px 0px;
    background-color: #e37b58;
    width: 89vw;
}

nav #banner{
    width: 100vw;
    height: 85vh;
}

#banner img{
    height: 70vh;
    width: 100vw;
}